In [37]:
import numpy as np
import pandas as pd
import ast

In [38]:
movies = pd.read_csv('tmdb_5000_movie.csv')
credits = pd.read_csv('tmdb_5000_credit.csv')

In [39]:
movies = movies.merge(credits, on='title')

things to keep: geners, id, title, keywords, overview, cast, crew

In [40]:
movies = movies[['title', 'id', 'genres', 'keywords', 'overview', 'cast', 'crew']]

In [41]:
# clear the missing data
# movies.isnull().sum()

In [55]:
movies.dropna(inplace=True)

In [43]:
# movies.isnull().sum()

In [44]:
# movies.dropna(inplace=True)

In [45]:
def convert(obj):
    result=[]
    for i in ast.literal_eval(obj):
        result.append(i['name'])
    return result

In [46]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [47]:
def convertcast(obj):
    flag = 0
    result=[]
    for i in ast.literal_eval(obj):
        if flag != 3:
            result.append(i['name'])
            flag += 1
        else:
            break

    return result

In [48]:
movies['cast'] =movies['cast'].apply(convertcast)

In [49]:
def convertcrew(obj):
    result=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            result.append(i['name'])
            return result

In [50]:
movies['crew'] = movies['crew'].apply(convertcrew)

In [51]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [52]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [53]:

movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [56]:

movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [57]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [58]:
movies.head(1)

,title,id,genres,keywords,overview,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [59]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['crew'] + movies['cast'] + movies['genres']

In [60]:
new_df = movies[['title', 'id', 'tags']]

In [61]:
new_df

,title,id,tags
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,206647,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney..."
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,El Mariachi,9367,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,Newlyweds,72766,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,"Signed, Sealed, Delivered",231617,"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,Shanghai Calling,126186,"[When, ambitious, New, York, attorney, Sam, is..."
4808,My Date with Drew,25975,"[Ever, since, the, second, grade, when, he, fi..."

In [62]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\sprit\AppData\Local\Temp/ipykernel_17524/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [63]:
new_df

,title,id,tags
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...
4,John Carter,49529,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,El Mariachi,9367,El Mariachi just wants to play his guitar and ...
4805,Newlyweds,72766,A newlywed couple's honeymoon is upended by th...
4806,"Signed, Sealed, Delivered",231617,"""Signed, Sealed, Delivered"" introduces a dedic..."
4807,Shanghai Calling,126186,When ambitious New York attorney Sam is sent t...
4808,My Date with Drew,25975,Ever since the second grade when he first saw ...

In [64]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\sprit\AppData\Local\Temp/ipykernel_17524/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [65]:
import nltk
from nltk.stem.porter import PorterStemmer

In [66]:
ps = PorterStemmer()

In [67]:
def stem(txt):
    y = []
    for i in txt.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [68]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4776, dtype: object

now my tags are as long string. now the task is to vectorizer the string.
how i am gooing to do that :

1. combine all the tags of all the 5000 movies. now count the frequncy of each word top. 8000 words of highest frequency will be the feature.
2. now take the each movies['tags'] and see the ocurence of each feature in that 8000 feature. this will be our vector.

sklearn is module to extract feature and count the vctor also remove stop_words(englis words like a, an the, are, is elc.).

In [69]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=8000, stop_words='english')

In [70]:
vectors = cv.fit_transform(new_df['tags']).toarray()

vectors is a matrix of vectors of feature.

In [71]:
len(cv.get_feature_names())

C:\Users\sprit\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

8000

In [72]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

now calculating the distance of each vector with other vector. 
cosine distance will be used to cal the distance

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
cosine_similarity(vectors).shape

(4776, 4776)

In [82]:
similarity = cosine_similarity(vectors)

In [89]:
similarity

array([[1.        , 0.07845987, 0.05309319, ..., 0.02178551, 0.02325581,
        0.        ],
       [0.07845987, 1.        , 0.05970814, ..., 0.0244998 , 0.        ,
        0.        ],
       [0.05309319, 0.05970814, 1.        , ..., 0.02486824, 0.        ,
        0.        ],
       ...,
       [0.02178551, 0.0244998 , 0.02486824, ..., 1.        , 0.06535653,
        0.04307305],
       [0.02325581, 0.        , 0.        , ..., 0.06535653, 1.        ,
        0.04598005],
       [0.        , 0.        , 0.        , ..., 0.04307305, 0.04598005,
        1.        ]])

In [88]:
# to hold the simillarity vector of each movie to another
# list(enumerate(similarity[0]))

In [79]:
# to sort the silimarity on the bases of higest vector. and returning top 5 movie
#sorted(list(enumerate(similarity[0])), reverse=True, key= lambda x:x[1])[1:6]

[(539, 0.23537960143467362),
 (2409, 0.22484687520664395),
 (507, 0.21656228851349335),
 (1216, 0.214573561940128),
 (1194, 0.21349799846564654)]

code to cal the index of any movie
new_df[new_df['title'] == 'Avatar'].index[0]

In [113]:
def recommend(movie):
    print(3)
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[movie_index])), reverse=True, key= lambda x:x[1])[1:6]
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)  # to bring the name of movie from movie_id.

In [114]:
recommend('Gandhi')

3
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan